# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
__pycache__
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.whl

# Environment Variables
.env
*.env
*.env.local
*.env.development.local

static_output/

# log files
*.log
*.log.*
*.log.[0-9]*
*.log.[0-9]*.[0-9]*
logs/